@mixin blimpo {
    display: flex;
    justify-content: left;
    align-items: top;
}
.quotes {
    flex: auto;
    display: flex;
    flex-direction: column;
    .search { 
        flex: 15%;       
        background: #001f4b;
        margin: 1px;
        @include blimpo();   
    }
    .remaining {
        flex: 90%;
        background: gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left-pane {
            flex: 60%;
            background: #001f4b;
            margin-right: 1px;
            display: flex;
            flex-direction: column;
            .chart {
                background: #001f4b ;
                flex: 1;
                margin: 1px;
                display: flex;
                justify-content: left;
                align-items: center;
            }
            .grid {
                background: #001f4b;
                flex: 1;
                margin: 1px;
                @include blimpo();    
            }
        }    
        .right-pane {
            flex: 40%;
            background: red;
            display: flex;
            flex-direction: column;
            .news {
                background: #001f4b ;
                color: khaki;
                flex: 2;
                margin: 1px;
                @include blimpo();
            }
            .overview {
                background: #001f4b;
                color: orange;
                flex: 1;
                margin: 1px;
                @include blimpo();
            }
            .top-picks {
                background:#001f4b;
                color: tomato;
                flex: 1;
                margin: 1px;
                @include blimpo();
            }
        }
    }    
}
.adaptv-frequency {
    display: flex;
    background: #001f4b ;
    color: lightgreen;
    justify-content: flex-end;
    font-size: 6;
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 5px;
        text-align: right;
      }
}
