.adaptv-newsitem {
    display: flex;
    background: chocolate; 
    justify-content: center;
    font-size: 8;
}
.adaptv-newssource {
    display: flex;
    background: grey ; 
    justify-content: left;
    font-size: 6;
}