.adaptv-newsitem {
    display: flex;
    background: coral; 
    justify-content: left;
    font-size: 8;
}
.adaptv-newsitem {
    display: flex;
    background: goldenrod; 
    justify-content: left;
    font-size: 8;
}
.adaptv-newssource {
    display: flex;
    background: olive ; 
    justify-content: left;
    font-size: 6;
}
