.adaptv-comanyName {
    display: flex;
    background: green; 
    justify-content: left;
    font-size: 6;
}
.adaptv-companyurl {
    display: flex;
    background: grey ; 
    justify-content: left;
    font-size: 6;
}
.adaptv-comanydesc {
    display: flex;
    background:lightsalmon; 
    justify-content: center;
    font-size: 6;
    font-display: 6;
}