.adaptv-comanyName {
    display: flex;
    background: #001f4b ;
    color: lightgreen;
    justify-content: left;
    font-size: 6;
}
.adaptv-companyurl {
    display: flex;
    background: #001f4b ;
    color:orange;
    justify-content: left;
    font-size: 6;
}
.adaptv-comanydesc {
    display: flex;
    justify-content: center;
    background: #001f4b ;
    color: orange;
    font-size: 6;
    font-display: 6;
}